C1_11_HW\HW\js\myJquery.js
C1_11_HW\HW\diff_html_text.html
C1_11_HW/HW/css/styles.css.map
C1_11_HW/HW/css/styles.scss
C1_11_HW/HW/js/test_cntdwn.js
C1_11_HW/HW/js/check.js
C1_11_HW/HW/check.html
C1_11_HW/HW/css/check.css
.venv
.vscode
C3_9_HW/exercises/cookies_python.py
C3_9_HW/exercises/server_cookie.py
C2_10_HW/exercises/C2_7/node_modules/
C2_10_HW/exercises/C2_7/package.json
C2_10_HW/exercises/C2_7/package-lock.json
C2_10_HW/exercises/package-lock.json
